<form class="UR" method="post">
    <fieldset>
        <legend>与本企业用户建立同事关系</legend>
        <div class="control-group">
            <label class="control-label" for="userId1">用户ID</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="userId1" name="userId1">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="userId2">本企业用户ID</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="userId2" name="userId2">
            </div>
        </div>
        <div class="form-actionsC">
            <button type="submit" class="btn btn-primary">建立同事关系</button>
        </div>
    </fieldset>
</form>