<form class="EchargeE" method="post">
    <hr/>
    <fieldset>
        <legend>产品删除外购件</legend>
        <div class="Dpp">
            <label class="Dpp-label" for="id">员工ID</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="id" name="id">
            </div>
        </div>
        <div class="form-actionsD">
            <button type="submit" class="btn btn-primary">关系解除</button>
        </div>
    </fieldset>
</form>