<form class="EMessageXG" method="post">
    <fieldset>
        <legend>企业信息修改</legend>
        <div class="control-group">
            <label class="control-label" for="Ename">企业名称</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="Ename" name="Ename">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="address">企业地址</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="address" name="address">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="faren">企业法人</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="faren" name="faren">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="phone">企业联系电话</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="phone" name="phone">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="email">企业Email</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="email" name="email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="zip">企业邮编</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="zip" name="zip">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="miaoshu">企业描述</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="miaoshu" name="miaoshu">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="admin">管理员ID</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="admin" name="admin">
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">修改</button>
        </div>
    </fieldset>
</form>