<form class="EpartM" method="post">
    <fieldset>
        <legend>产品创建外购件</legend>
        <div class="control-group">
            <label class="control-label" for="productId">产品ID</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="productId" name="productId">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="partId">外购件ID</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="partId" name="partId">
            </div>
        </div>
        <div class="form-actionsC">
            <button type="submit" class="btn btn-primary">创建外购件</button>
        </div>
    </fieldset>
</form>

