<form class="EpartM" method="post">
    <fieldset>
        <legend>删除企业生产的产品</legend>
        <div class="control-group">
            <label class="control-label" for="id">输入删除产品的ID</label>
            <div class="controls">
                <input type="password" class="input-xlarge" id="id" name="id">
            </div>
        </div>
        <div class="form-actionsD">
            <button type="submit" class="btn btn-primary">删除产品</button>
        </div>
    </fieldset>
</form>