<form class="EproM" method="post">
    <fieldset>
        <legend>增加企业生产的产品</legend>
        <div class="control-group">
            <label class="control-label" for="id">产品ID</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="id" name="id">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="mc">产品名称</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="mc" name="mc">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="miaoshu">产品描述</label>
            <div class="controls">
                <input type="password" class="input-xlarge" id="miaoshu" name="miaoshu">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Ename">企业</label>
            <div class="controls">
                <input type="password" class="input-xlarge" id="Ename" name="Ename">
            </div>
        </div>
        <div class="form-actionsC">
            <button type="submit" class="btn btn-primary">新增产品</button>
        </div>
    </fieldset>
</form>
