<form class="ER" method="post">
    <hr/>
    <fieldset>
        <legend>解除企业间关系</legend>
        <div class="Dpp">
            <label class="Dpp-label" for="sendAdmin">要解除的企业ID</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="sendAdmin" name="sendAdmin">
            </div>
        </div>
        <div class="form-actionsD">
            <button type="submit" class="btn btn-primary">解除关系</button>
        </div>
    </fieldset>
</form>