<form class="EuserM" method="post">
    <fieldset>
        <legend>增加企业内用户</legend>
        <div class="control-group">
            <label class="control-label" for="id">用户ID</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="id" name="id">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="name">用户姓名</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="name" name="name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">用户密码</label>
            <div class="controls">
                <input type="password" class="input-xlarge" id="password" name="password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="address">用户地址</label>
            <div class="controls">
                <input type="password" class="input-xlarge" id="address" name="address">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="phone">用户联系电话</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="phone" name="phone">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="email" name="email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Ename">所属企业</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="Ename" name="Ename">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="productId">负责本企业产品</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="productId" name="productId">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="outEname">负责合作企业</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="outEname" name="outEname">
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">新增用户</button>
        </div>
    </fieldset>
</form>
