<div class="hero-unit">
  <h1>欢迎来到 Enforce</h1>
  <hr/>
  <hr/>
  <p><h2>&nbsp;&nbsp;Enforce 是一个基于 Node.js 的企业管理系统。</h2></p>
  <hr/>
  <p>
    <a class="btn btn-primary btn-large" href="/login">登录</a>
    <a class="btn btn-large" href="/reg">管理员注册</a>
  </p>
</div>
