<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - Enforce</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style type="text/css">
	body {
	padding-top: 60px;
	padding-bottom: 40px;
	}
	</style>
	<link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>
	<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	<div class="container">
	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</a>
	<a class="brand" href="/">Enforce</a>
	<div class="nav-collapse">
	<ul class="nav">
	<li class="active"><a href="/">首页</a></li>
	<li><a href="/login">登入</a></li>
	<li><a href="/reg">管理员注册</a></li>
		<li><a href="/logout">登出</a></li>
	</ul>
	</div>
	</div>
	</div>
	</div>

	<div id="container" class="container">
    <%- body %>
		<hr/>
		<footer>
			<p>服务开发技术实验</p>
		</footer>
	</div>
  </body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</html>
<!--模板文件不是孤立展示的,默认情况下所有的模板都继承自 layout.ejs,即 <%- body %>部分才是独特的内容,其他部分是共有的,可以看作是页面框架-->
