<form class="QU" method="post">
    <fieldset>
        <legend>查询</legend>
        <div class="control-group">
            <label class="control-label" for="id">用户ID</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="id" name="id">
            </div>
        </div>
        <div class="form-actionsC">
            <button type="submit" class="btn btn-primary">查询</button>
        </div>
    </fieldset>
</form>
<div>
    <p>查询结果</p>
</div>